.description {
    margin: 8rem 0 5rem 1.7rem;
}
.title{
    font-size: 1.75rem;
    color: #666;
    text-decoration: underline;
    text-decoration-color: #0099FF;
}
.text{
    width: 36rem;
    color: #666;
    line-height: 1.9;
    font-size: 18px;
    margin-top: 3rem;
}

@media screen and (max-width: 992px) {
.description{
        margin-left: 1rem;
  }
}

@media screen and (max-width: 992px) {
.text{
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
.background-image{
    width: 100%;
    margin-left: -.5rem;
  }
}